.bloginlisäys {
    padding-bottom: 7px;
}

.bloginlisäys input {
    margin-right: 3px
}

h1 {
    color: rgb(3, 163, 0);
}

table {
    border-collapse: collapse;
}

.blogrow {
    border: 2px solid green;
}